/* styles go here
*/
body {
	/*background-color: #c9c9c9;*/
	background-color: #35654d;
}
h4 {
	color: white;
}
p {
	color: white;
}

.page-padding {
	padding:15px;
}

.hero-image {
	height: 200px;
	background-image: url("https://st4.depositphotos.com/15955262/20421/i/1600/depositphotos_204215548-stock-photo-banner-four-aces-specific-outline.jpg");
	background-position: center;
	background-size: cover;
}

.hero-text {
	text-align: center;
 	/*position: absolute;*/
	top: 50%;
 	left: 50%;
 	/*transform: translate(-50%, -50%);*/
 	color: white;
 	padding-top: 55px;
}

/*#Title {
	text-align: center;
	font-size: xx-large;
	color: white;
}*/

#new-game-button {
	background-color: #251582;
	border-radius: 5px;
	color: white;
	padding: 14px 40px;
	font-size: large;

}
#new-game-button:hover {
	background-color: #492fdd;
	transform: scale(1.1);
	color: white;
}

#hit-button {
	background-color: #44d478;
	border-radius: 5px;
	color: white;
	padding: 14px 40px;
	font-size: large;
	transition-duration; 0.3s;
}
#hit-button:hover {
	background-color: #21f76e;
	transform: scale(1.1);
	color: black;
}

#stay-button {
	background-color: #d9443f;
	border-radius: 5px;
	color: white;
	padding: 14px 40px;
	font-size: large;
}
#stay-button:hover {
	background-color: #fc231c;
	transform: scale(1.1);
	color: black;
}