* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-image: url("https://st4.depositphotos.com/15955262/20421/i/1600/depositphotos_204215548-stock-photo-banner-four-aces-specific-outline.jpg");
  background-position: center;
  background-size: cover;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three columns*/
.leftcolumn {
  width: 40%;
  padding: 15px;
}
.middlecolumn {
  width: 40%;
  padding: 15px;
}
.rightcolumn {
  width: 20%;
  padding: 15px;
}
.leftcolumn, .middlecolumn, .rightcolumn {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}